/* Estilos para o formulário de registro */
.register-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(234, 234, 234, 1);
}

input:focus {
    border: 2px solid rgba(21, 154, 156, 1);
    outline: none;
    background-color: white;
}

.btn-registrar {
    background-color: rgba(21, 154, 156, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-registrar:hover {
    background-color: rgba(21, 154, 156, 0.9);
}

/* Botão de Voltar no canto superior esquerdo */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-icon {
    font-size: 24px;
    color: rgba(21, 154, 156, 1);
}

.back-button:hover .back-icon {
    color: rgba(21, 154, 156, 0.9);
}
