* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh; /* Ocupa toda a altura da janela */
    display: flex; /* Define o layout como flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(222, 239, 231, 1); /* Fundo claro */
}