<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Conta - H.E.M</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/esqueceu_senha.css">
</head>
<body>
    <!-- Botão de Voltar -->
    <a href="{% url 'login' %}" class="back-button">
        <span class="back-icon">&lt;</span>
    </a>

    <!-- Container para recuperação de conta -->
    <div class="recovery-form-container">
        <h1 class="recovery-title">Recuperação de conta</h1>
        
        <form class="recovery-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email">
            </div>

            <button type="submit" class="btn-enviar">Enviar email</button>
        </form>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
