<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home_paciente.css">
    <link rel="stylesheet" href="../static/css/general.css">
</head>
<body>
    {% csrf_token %}
    <!-- Header -->
    <header>
        <div class="header-content">
            <h1>HOME</h1>
            <div class="header-icons">
                <a href="#" class="icon-btn"><img src="calendar_icon.png" alt="Calendário"></a>
                <a href="#" class="icon-btn"><img src="icon_search.png" alt="Buscar"></a>
                <form action="." method="get">
                    <input type="search" id="busca" name="busca" placeholder="Buscar pelo nome">
                    <input type="submit">
                </form>
                <form action="." method="get">
                    <select id="opcoes" class="icon-btn" name="opcoes">
                        <option value="" selected="selected">Buscar</option>
                        <option value="Anestesista">Anestesista</option>
                        <option value="Cirurgião Geral">Cirurgião Geral</option>
                        <option value="Clínico Geral">Clínico Geral</option>
                        <option value="Dermatologista">Dermatologista</option>
                        <option value="Neurocirurgiã">Neurocirurgiã</option>
                        <option value="Oftalmologista">Oftalmologista</option>
                    </select>
                    <input type="submit" id="opcoes">
                </form>
            </div>
            <form action="." method="get">
                <select id="showfavs" name="showfavs">
                    <option value="" selected="selected">Todos</option>
                    <option value="favoritos">Favoritos</option>
                    <option value="naofavs">Não Favoritos</options>
                </select>
                <input type="submit" id="showfavs">
            </form>
        </div>
    </header>
    
        <!-- Conteúdo principal - Cartões dos médicos -->
    <div class="container">
        <main>            
            {% for x in medicos %}
                <section class="medico-card">
                    <img src="icon_profile.jpg" alt="{{x.nome}}" class="profile-pic">
                    <div class="medico-info">
                        <h2>{{x.nome}}</h2>
                        <p class="especialidade">{{x.especialidade}}</p>
                        <p class="descricao">{{x.descricao}}</p>

                        <form action="." method="get" id="fav" name="fav" >
                            <input type="hidden" id="fav" name="fav" value="{{x.cpf}}">
                            <input type="submit" value="♥">
                        </form>
                        
                    </div>
                </section>
            {% endfor %}
        </main>
            
        <!-- Footer -->
    <footer>
        <a href="#" class="footer-icon"><img src="icon_file.png" alt="Agenda"></a>
        <a href="{% url 'home_paciente' %}" class="footer-icon active"><img src="icon_home.png" alt="Home"></a>
        <a href="#" class="footer-icon"><img src="icon_message.png" alt="Mensagens"></a>
        <a href="{% url 'perfil_paciente' %}" class="footer-icon"><img src="icon_profile.png" alt="Perfil"></a>
    </footer>
    </div>
</body>
