<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home_medico.css">
    <link rel="stylesheet" href="../static/css/general.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="header-content">
            <h1>HOME</h1>
            <div class="header-icons">
                <a href="#" class="icon-btn"><img src="icon_calendar.png" alt="Calendário"></a>
                <a href="#" class="icon-btn"><img src="icon_search.png" alt="Buscar"></a>
            </div>
        </div>
    </header>

    <!-- Conteúdo principal - Cartões dos médicos -->
    <main>
        <section class="medico-card">
            <img src="lucas_andrade.jpg" alt="Lucas Andrade" class="profile-pic">
            <div class="medico-info">
                <h2>Lucas Andrade</h2>
                <p class="especialidade">Clínico Geral</p>
                <p class="descricao">Sou o Dr. Lucas Andrade, clínico geral. Tenho anos de experiência em medicina, oferecendo cuidados personalizados com um enfoque cuidadoso e empático.</p>
                <div class="avaliacao">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    <button class="but_avaliar" id="but">Avaliar</button>
                </div>
            </div>
        </section>

        <!-- Conteúdo das avaliações - Tela para avaliar -->
        <div class="avaliar-info">
            <button class="close-avalia">X</button>
            <h2>Avaliar medico</h2>

            <h5>Deixe uma avaliação</h5>
            <div class="star-rating">
                <div class="stars">
                  <label class="number"><input type="radio" name="rating" value="0"></label>
                  <label class="star"><input type="radio" name="rating" value="1"></label>
                  <label class="star"><input type="radio" name="rating" value="2"></label>
                  <label class="star"><input type="radio" name="rating" value="3" checked></label>
                  <label class="star"><input type="radio" name="rating" value="4"></label>
                  <label class="star"><input type="radio" name="rating" value="5"></label>
                  <div class="number-rating"></div>
                </div>
            </div>

            <div class="sessao-comentario">
                <h5>Deixe um comentario (opcional):</h5>
                <textarea class="form-group" id="comentario" name="comentario" rows="4" cols="50" placeholder="Deixe um comentario (opcional)"> </textarea>
            </div>
        </div>

        <section class="medico-card">
            <img src="clara_moreira.jpg" alt="Clara Moreira" class="profile-pic">
            <div class="medico-info">
                <h2>Clara Moreira</h2>
                <p class="especialidade">Neurocirurgiã</p>
                <p class="descricao">Sou a Dra. Clara Moreira, neurocirurgiã especializada em procedimentos complexos e tratamentos avançados. Minha missão é oferecer cuidados precisos e inovadores para melhorar a qualidade de vida dos meus pacientes.</p>
                <div class="avaliacao">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    <button class="but_avaliar" id="but">Avaliar</button>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <a href="#" class="footer-icon"><img src="icon_file.png" alt="Agenda"></a>
        <a href="#" class="footer-icon active"><img src="icon_home.png" alt="Home"></a>
        <a href="#" class="footer-icon"><img src="icon_message.png" alt="Mensagens"></a>
        <a href="#" class="footer-icon"><img src="icon_profile.png" alt="Perfil"></a>
    </footer>

    <script src="../static/js/home_medico.js"></script>
</body>
</html>
