<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - H.E.M</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/pre_registro.css">
</head>
<body class="background-general">
    <a href="login.html" class="back-button">
        <span class="back-icon">&lt;</span>
    </a>

    <div class="register-container">
        <!-- Título da página -->
        <h1 class="register-title">VOCÊ É?</h1>

        <!-- Botões de seleção -->
        <div class="button-group">
            <a href="registro_paciente.html">
                <button class="btn-selecionar">PACIENTE</button>
            </a>
            <a href="registro_medico.html">
                <button class="btn-selecionar">MÉDICO</button>
            </a>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
